<% revision ||= nil %>
<% primary = revision || data_set %>
<% if revision.nil? %>
	<b>Name: </b><%= "#{data_set.name} #{data_set.parameters.nil? ? '' : "<b>Parameters:</b> #{data_set.parameters}" }" %><br />
	<b>Created At:</b> <%= data_set.created_at %><br />
<% else %>
	<% revision_title = "#{revision.created_at} - #{revision.created_at < data_set.created_at ? 'Earlier' : 'Later'}" %> 
	<h3>Revision: <%= revision_title %></h3> 
<% end %>

<div style="height:auto;min-height:250px" >
	<%= link_to 'Show Revision', data_set_url( primary ) unless revision.nil? %>
	<% settings = Hash.new %>
	<% settings = { 'bProcessing' => true, 'bServerSide' => true, 'sAjaxSource' => "#data_set_#{primary.id}.data('source')" } if revision.nil? %>

	<table <%= "data-source=#{data_set_url(data_set, :format => "json")}" if revision.nil? %>  <%= @jquery.set_id( "data_set_#{primary.id}", :data_table, settings ) %> class="display" >
		<thead>
			<tr>
				<% primary.fields.each do |field| %>
					<th><%= field.name %></th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% primary.records.each do |record| %>
				<tr>
					<% primary.fields.each do |field| %>
						<td><%= record.get_cell( field ).string %></td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>

</div>
