<%= link_to 'Show All Data Sets', data_sets_path %>

<p id="notice"><%= notice %></p>
<div>
	<%= link_to "Show Full Dataset", data_set_url(@data_set), :remote => true %><br />
	<script>
		$('a').bind('ajax:success', function(event, xhr, status, data) {  
			var table = JSON.parse(data.responseText);
			setMainDisplay( table );
		} );
	</script>
	<table id="main_display" class="display" ></table>
</div>
<br />

<% tab_index ||= 0 # this can be set by controllers to open a specific view %>
<%= tab_index %> <br />
<div <%= @jquery.set_id( "data_set_tabs", :tabs, 'active' => tab_index ) %> style="height:auto;min-height:100px" >
	<ul>
		<li><a href="#keys">Keys</a></li>
		<li><a href="#data_set_field_stats">Field Stats</a></li>
		<li><a href="#revisions">Revisions</a></li>
	</ul>

	<div id="keys" style="height:auto;min-height:100px"  >
		<% if @data_set.keys.size > 0  %>
			<div <%= @jquery.set_id( "current_keys", :accordion  ) %> style="height:auto;min-height:100px" >
				<%= render @data_set.keys %>
			</div>
		<% end %>
		<h3>Create New Key</h3>
		<%= render 'new_key', :data_set => @data_set %>
	</div>

	<div <%= @jquery.set_id( "data_set_field_stats", :accordion  ) %> style="height:auto" >
		<% @data_set.fields.each do |field| %>
			<h3><%= field.name %></h3>
			<div id="<%= field.name %>_stats" >
				<ul>
					<li><b>Cells:</b> <%= field.cells.size %></li>
					<% unique_cell_values = field.cells.map(&:string).uniq %>
					<li><b># Unique Cells:</b> <%= unique_cell_values.size %></li>
					<li><b>Unique Values:</b> <%= unique_cell_values %></li>
				</ul>
			</div>
		<% end %>
	</div>

	<div <%= @jquery.set_id( "revisions", :accordion ) %> style="height:auto" >
		<% @revisions.each do |revision| %>
			<%= render 'full_display', :data_set => @data_set, :revision => revision %>
		<% end %>
	</div>

</div>
