<%= link_to 'Show All Data Sets', data_sets_path %>

<p id="notice"><%= notice %></p>
<div>
	<%= link_to "Show Full Dataset", data_set_url(@data_set), :remote => true, :class => 'reset_main_display' %><br />
	<script>
		$('.reset_main_display').bind('ajax:success', function(event, xhr, status, data) {  
			var table = JSON.parse(data.responseText);
			setMainDisplay( table );
		} );
	</script>
	<table id="main_display" class="display" ></table>
</div>
<br />

<div <%= @jquery.set_id( "data_set_tabs", :tabs ) %> style="height:auto;min-height:100px" >
	<ul>
		<li><a href="#keys">Keys</a></li>
		<li><a href="#data_set_field_stats">Field Stats</a></li>
		<li><a href="#revisions">Revisions</a></li>
	</ul>

	<div id="keys" style="height:auto;min-height:100px"  >
		<div <%= @jquery.set_id( "key_tabs", :tabs, 'active' => 0 ) %>  >
			<ul>
				<li><a href="#current_keys">Current</a></li>
				<li><a href="#create_key_tab">Create New</a></li>
			</ul>
			<div <%= @jquery.set_id( "current_keys", :accordion  ) %>  >
				<%= render @data_set.keys %>
			</div>
			<div id="create_key_tab" >
				<%= render 'new_key', :data_set => @data_set %>
			</div>
		</div>
	</div>

	<div <%= @jquery.set_id( "data_set_field_stats", :accordion  ) %>  >
		<% @data_set.fields.each do |field| %>
			<h3><%= field.name %></h3>
			<div id="<%= field.name %>_stats" style="height:auto;min-height:100px" >
				<ul>
					<li><b>Cells:</b> <%= field.cells.size %></li>
					<% unique_cell_values = field.cells.map(&:string).uniq %>
					<li><b># Unique Cells:</b> <%= unique_cell_values.size %></li>
					<li><b>Unique Values:</b> <%= unique_cell_values %></li>
				</ul>
			</div>
		<% end %>
	</div>

	<div <%= @jquery.set_id( "revisions", :accordion ) %> style="height:auto" >
		<% @revisions.each do |revision| %>
			<%= render 'full_display', :data_set => @data_set, :revision => revision %>
		<% end %>
	</div>

</div>
