<%= link_to 'Back', data_sets_path %>
<ul>
	<% @data_set.keys.each do |key| %>
		<li>
		<a href="<%= data_set_url( @data_set ) %>" data-remote="true" data-type="json" >[<%= key.name %>]</a>
		</li>
	<% end %>
</ul>

<h1>Data Set</h1>
<script>
	$('a').bind('ajax:success', function(event,xhr, data, status) {  
		alert("Made It");
		$('#example').dataTable( {
			"aaData": [
			/* Reduced data set */
			[ "Trident", "Internet Explorer 4.0", "Win 95+", 4, "X" ],
			[ "Trident", "Internet Explorer 5.0", "Win 95+", 5, "C" ],
			[ "Trident", "Internet Explorer 5.5", "Win 95+", 5.5, "A" ],
			[ "Trident", "Internet Explorer 6.0", "Win 98+", 6, "A" ],
			[ "Trident", "Internet Explorer 7.0", "Win XP SP2+", 7, "A" ],
			[ "Gecko", "Firefox 1.5", "Win 98+ / OSX.2+", 1.8, "A" ],
			[ "Gecko", "Firefox 2", "Win 98+ / OSX.2+", 1.8, "A" ],
			[ "Gecko", "Firefox 3", "Win 2k+ / OSX.3+", 1.9, "A" ],
			[ "Webkit", "Safari 1.2", "OSX.3", 125.5, "A" ],
			[ "Webkit", "Safari 1.3", "OSX.3", 312.8, "A" ],
			[ "Webkit", "Safari 2.0", "OSX.4+", 419.3, "A" ],
			[ "Webkit", "Safari 3.0", "OSX.4+", 522.1, "A" ]
			],
			"aoColumns": [
			{ "sTitle": "Engine" },
			{ "sTitle": "Browser" },
			{ "sTitle": "Platform" },
			{ "sTitle": "Version", "sClass": "center" },
			{
				"sTitle": "Grade",
				"sClass": "center",
				"fnRender": function(obj) {
					var sReturn = obj.aData[ obj.iDataColumn ];
					if ( sReturn == "A" ) {
						sReturn = "<b>A</b>";
					}
					return sReturn;
				}
			}
			]
		} );	
	} );
</script>
<p id="notice"><%= notice %></p>
<%= render 'full_display', :data_set => @data_set, :table_id => 'main_display' %>
<br />

<% tab_index ||= 0 # this can be set by controllers to open a specific view %>
<%= tab_index %> <br />
<div <%= @jquery.set_id( "data_set_tabs", :tabs, 'active' => tab_index ) %> style="height:auto;min-height:100px" >
	<ul>
		<li><a href="#data_set_field_stats">Field Stats</a></li>
		<li><a href="#keys">Keys</a></li>
		<li><a href="#revisions">Revisions</a></li>
	</ul>
	<div <%= @jquery.set_id( "data_set_field_stats", :accordion  ) %> style="height:auto" >
		<% @data_set.fields.each do |field| %>
			<h3><%= field.name %></h3>
			<div id="<%= field.name %>_stats" >
				<ul>
					<li><b>Cells:</b> <%= field.cells.size %></li>
					<% unique_cell_values = field.cells.map(&:string).uniq %>
					<li><b># Unique Cells:</b> <%= unique_cell_values.size %></li>
					<li><b>Unique Values:</b> <%= unique_cell_values %></li>
				</ul>
			</div>
		<% end %>
	</div>

	<div id="keys" style="height:auto;min-height:100px"  >
		<div <%= @jquery.set_id( "key_options", :accordion  ) %> style="height:auto;min-height:100px" >

			<h3>Current Keys</h3>
			<div <%= @jquery.set_id( "current_keys", :accordion  ) %> style="height:auto;min-height:100px" >
				<%= "No Keys Defined Yet" if @data_set.keys.size == 0  %>
				<%= render @data_set.keys %>
			</div>

			<h3>Create New Key</h3>
			<div id="new_key" style="height:auto;min-height:100px" >
				<%= render 'new_key', :data_set => @data_set %>
			</div>
		</div>
	</div>

	<div <%= @jquery.set_id( "revisions", :accordion ) %> style="height:auto" >
		<% @revisions.each do |revision| %>
			<%= render 'full_display', :data_set => @data_set, :revision => revision %>
		<% end %>
	</div>

</div>
