<% form_id = "key_#{key.id}_new_condition" %>

<b>Condition Format:</b> ( left field ) ( comparison ) ( right_field or right_value )<br />
<b>Data Type:</b> Allows comparisons other than simple string comparison<br />

<%= form_for( [key.keyable, key, key.conditions.build], :html => { :class => 'new_condition_success' }, :remote => true ) do |f| %>
	<% fields = key.keyable.fields.collect { |field| [ field.name, field.id ] } %>
	Left Field (mandatory): <%= f.select :left_field, fields %><br />
	Comparison: <%= f.select :comparison, [ ['Equals','='],['Less Than','<'],['Greater Than','>'],['Regular Expression','regex'] ] %><br />
	<% fields.insert( 0, ['',nil] ) %>
	Right Field: <%= f.select :right_field, fields %> OR Right Value: <%= f.text_field :right_value %><br />
	Data Type: <%= f.select :data_type, [ ['String','string'],['Integer','int'],['Float','float'],['DateTime','datetime']] %><br />
	<div class="actions">
		<%= f.submit( "Create Condition" ) %>
	</div>
<% end %>


