<div id="create_key" >
	<%= form_for( [keyable, keyable.keys.build], :remote => true, :html => {:class => 'new_key_success'} ) do |f| %>
		<div class="field">
			<%= f.label :name %><br />
			<%= f.text_field :name %>
		</div>
		<ul>
			<% keyable.fields.each do |field| %>
				<li>
				<%= check_box_tag 'field_ids[]', field.id -%>
				<%= field.name -%>
				</li>
			<% end %>
		</ul>

		<div class="actions">
			<%= f.submit( "Create Key" ) %>
		</div>
	<% end %>

</div>
