<div id="create_key" >
	<%= form_for( [keyable, keyable.keys.build], :remote => true ) do |f| %>
		<div class="field">
			<%= f.label :name %><br />
			<%= f.text_field :name %>
		</div>
		<ul>
			<% keyable.fields.each do |field| %>
				<li>
				<%= check_box_tag 'field_ids[]', field.id -%>
				<%= field.name -%>
				</li>
			<% end %>
		</ul>

		<div class="actions">
			<%= f.submit( "Create Key" ) %>
		</div>
	<% end %>

	<script>
		$('#new_key').bind('ajax:success', function(event, xhr, status, data) {  
			var key_info = JSON.parse( data.responseText );
			$("#current_keys").prepend( key_info.html );
			resetJQueryUI('accordion','current_keys');
			$('#key_tabs').tabs('select',0);
			$("#current_keys").accordion('option','active',0);
		} );
	</script>
</div>
