<% uid = "key_#{key.id}" %>
<h3 id="<%= uid %>_header" ><%= key.name %></h3>
<div id="<%= uid %>"  >
	<% ajax_class = "show_key_records_#{uid}" %>
	<%= link_to "Show Records", data_set_key_url(key.data_set,key), :remote => true, :class => ajax_class %><br />
	<script>
		$('.<%= ajax_class %>').bind('ajax:success', function(event, xhr, status, data) {  
			var table = JSON.parse(data.responseText);
			setMainDisplay( table );
		} );
	</script>

	<% ajax_class = "delete_key_#{uid}" %>
	<%= link_to 'Delete', data_set_key_url( key.data_set,key ), :method => :delete,  :remote => true, :class => ajax_class %>
	<script>
		$('.<%= ajax_class %>').bind('ajax:success', function() {  
			$('#<%= uid %>').html("Key Deleted");  
			$('#current_keys').accordion('refresh');
			console.log("Deleted Key");
		});
	</script>
	<h3>Stats:</h3>
	Fields: <%= key.unique_field_names.join( "," ) %><br />
	Unique Records: <%= key.records.size %><br />
	Unique Keys: <br />
	Duplicate key distribution <br />
</div>
