<h3><%= key.name %></h3>
<div id="<%= key.name %>" style="height:auto;min-height:100px" >

	<div <%= @jquery.set_id( "#{key.name}_displays", :accordion ) %>  style="height:auto;min-height:100px">
		<h3>Options</h3>
		<div>
			<%= link_to 'Rebuild Index', find_records_data_set_key_url( key.data_set, key ) %>
		</div>

		<h3>Stats:</h3>
		<div id="<%= "#{key.name}_stats" %>"  style="height:auto;min-height:100px">
			Fields: <%= key.unique_field_names.join( "," ) %><br />
			Unique Records: <%= key.records.size %><br />
			Unique Keys: <br />
			Duplicate key distribution <br />
		</div>

		<h3>Valid Records</h3>
		<div style="height:auto;min-height:100px"  style="height:auto;min-height:100px">
			<% table_id = "key_#{key.id}" %>
			<% ajax_url = data_set_key_url( key, :format => "json" ) %>
			<% settings = { 'bProcessing' => true, 'bServerSide' => true, 'sAjaxSource' => "#{table_id}.data('source')" } %>

			<table <%= "#{@jquery.set_id( table_id, :data_table, settings )} data-source=#{ajax_url}" %> class="display" >
				<thead>
					<tr>
						<% key.data_set.fields.each do |field| %>
							<th><%= field.name %></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
