<%= form_for( Join.new, :remote => true ) do |f| %>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>

	Left Key
	<% data_set_keys = data_set.keys.collect { |key| [ key.name, key.id ] } %>
	<%= f.select :left_key, data_set_keys %>

	Right Key
	<% data_set_keys = Key.all.collect { |key| [ key.name, key.id ] } %>
	<%= f.select :right_key, data_set_keys %>

	<div class="actions">
		<%= f.submit( "Create Join" ) %>
	</div>
<% end %>
<script>
	$('#new_join').bind('ajax:success', function(event, xhr, status, data) {  
		$("#current_joins").prepend( data.responseText );
		resetJQueryUI('accordion','current_joins');
		$('#joins').tabs('select',0);
		$("#current_joins").accordion('option','active',0);
	} );
</script>
