<p id="notice"><%= notice %></p>



<div id="join" >
<b>Name:</b> <%= @join.name %><br />
<b>Left key:</b> <%= @join.left_key.name %> <b>Number of records:</b> <%= @join.left_key.key_records.count %><br />
<b>Right key:</b> <%= @join.right_key.name %> <b>Number of records:</b> <%= @join.right_key.key_records.count %><br />
	<table id="join_display" class="display" ></table>
</div>
